@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

:root {
    --button: 5px 10px;
    --blue: #2841af;
    --lblue: rgba(40, 65, 175, 0.4);
    --black: #111;
    --white: #f0f0f0;
    --font: 'Merriweather Sans', sans-serif;
}

* {
    border-radius: 5px;
}

html {
    background-color: var(--black);
    color: var(--white);
    font-size: 1vw;
    font-family: var(--font);
}

body {
    margin: 0;
    padding: 0;
}


.top-nav {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10vw;
    padding-left: 10vw;
    height: 50px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1rem;
}

.container {
    margin-top: 30px;
    padding-right: 10vw;
    padding-left: 10vw;
}

#gameList {
    width: 80vw;
    color: var(--white);
}


table#table {
    margin: 30px;
}

thead * {
    text-align: left;
}

tbody * {
    text-align: left;
}


div#table_filter {
    position: relative;
    top: -90px;
    float: right;
    border-radius: 5px;
    color: var(--white);
}

table thead tr th {
    overflow: hidden;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: var(--lblue);
    cursor: pointer;
}

table thead tr th:hover {
    background-color: var(--blue);
}

table tbody tr td {
    padding: 3px;
}


table tbody tr:hover {
    background-color: var(--lblue);
}


div#table_paginate {
    position: relative;
    top: -18px;
    float: right;
}

.paginate_button {
    margin-right: 10px;
}

input[type="search"] {
    position: relative;
    padding: var(--button);
    border: none;
    font-size: 18px;
}

select {
    position: relative;
    padding: var(--button);
    border: none;
}

label {
    position: relative;
    top: 5px;
    left: 1%;
    font-size: 15px;
}

div#gameList_filter label:nth-child(1) {
    position: relative;
    left: -1px;
}

div#gameList_length {
    float: left;
    margin-bottom: 25px;
}

div#gameList_filter {
    float: right;
}

.btn {
    border: none;
    padding: var(--button);
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    font-family: var(--font);
}

div#gameList_paginate {
    float: right;
    position: relative;
    top: -5px;
    left: 9px;
}

div#gameList_info {
    position: relative;
    top: 18px;
}

div#gameList_info {
    width: auto;
}

a.paginate_button,
div#gameList_info {
    padding: var(--button);
    background-color: var(--lblue);
}

a.paginate_button:hover {
    cursor: pointer;
    background-color: var(--blue);
}

.ellipsis {
    margin-right: 8px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--lblue);
    border-radius: 5px;
    cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 5px;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--lblue);
    cursor: pointer;
}

footer {
    text-align: center;
}

footer p {
    text-align: center;
}

.fas, .fab {
    color: var(--blue);
}

a:link {
    color: var(--blue);
    text-decoration: none;
}

a:visited {
    color: var(--blue);
}